*{
    margin: 0;
    padding: 0;
}

#principal{
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-rows: 150px 2fr 150px;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    "topo topo"
    "navegacao conteudo1"
    "rodape rodape";

}

header{
    grid-area: topo;
    background-color: mediumvioletred;
    display: flex;
    align-items: center;
    padding-left: 50px ;

}

header h1{
    margin:10px 0 0 20px;
}

header img{
    max-width: 35px;

}

header button{
    margin-left: 80%;
    margin-top: 10px;
    padding: 5px 20px;

}

nav{
    grid-area: navegacao;
    background-color: #f2d0e0;

}

nav img{
    max-width: 35px;
    padding: 15px;
    margin-top: 10px;

}

.menu{
    display: flex;
    justify-content: stretch;
    margin-left: 30px;

}

.menu ul{
    display: inline-block;
    list-style: none;
    margin-top: 28px
}

.menu a{
    font-size: 30px;
    text-decoration: none;
    color: #000;

}

.seta{
    margin-left: auto;
}

.conteudo1{
    grid-area: conteudo1;
    display: flex;
}

.conteudo2{
    grid-area: conteudo1;
    display: flex;
}

.gallery-cards {
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px darkgray;
    padding: 30px;
    margin: 40px;
    width: 250px;
    height: 350px;
    
}

.gallery-cards img{
    float: right;
    max-width: 250px;
    max-height: 250px;
}

.gallery-cards h2{
    text-align: center;
    margin-top: 265px;
    font-size: 25px;
}

.gallery-cards p{
    margin-top: 20px;
    text-align: center;
    font-size: 14px;

}

footer{
    grid-area: rodape;
    background-color: mediumvioletred;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 1px 2px gray;
    display: flex;
    justify-content: center;
    align-items: center;

}
